.products-container {
    width: 75%;
    margin-left: 25px;
}

.categories-list-container {
    width: 25%;
}

.product-card {
    height: calc(100% - 48px);
    width: 100%
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mat-grid-tile .mat-grid-tile-footer {
    height: 36px;
    padding: 0;
    display: none;
}

.mat-grid-tile:hover .mat-grid-tile-footer {
    display: block;
}

.add-to-cart-btn {
    width: 100%;
}

.category-item {
    cursor: pointer;
}